In [7]:
import pandas as pd

BASE = "/Data/baptiste.geisenberger/Data"
files = {
    "openImg":       f"{BASE}/openImg/client_data_mapping/train.csv",
    "google_speech": f"{BASE}/google_speech/client_data_mapping/train.csv",
    "femnist": f"{BASE}/femnist/client_data_mapping/train.csv",
    "reddit": f"{BASE}/reddit/client_data_mapping/train.csv"
}

In [8]:
dfs = {}
for name, path in files.items():
    dfs[name] = pd.read_csv(path)
print("✅ All files loaded, keys:", list(dfs.keys()))

✅ All files loaded, keys: ['openImg', 'google_speech', 'femnist', 'reddit']

In [9]:
# Select the dataframe
google_speech_df = dfs["google_speech"]

# Filter for client_id 1134
client_data = google_speech_df[google_speech_df["client_id"] == 1134]

# Print the datapoints
print(len(client_data))

117

In [4]:
for name, df in dfs.items():
    print(f"▶ {name} — {len(df):,} rows × {df.shape[1]} cols")
    print("  Columns:", df.columns.tolist(), "\n")

▶ openImg — 1,229,351 rows × 4 cols
  Columns: ['client_id', 'sample_path', 'label_name', 'label_id']

▶ google_speech — 102,851 rows × 4 cols
  Columns: ['client_id', 'sample_path', 'label_name', 'label_id']

▶ femnist — 637,877 rows × 4 cols
  Columns: ['client_id', 'sample_path', 'label_name', 'label_id']

▶ reddit — 27,704,533 rows × 4 cols
  Columns: ['client_id', 'sample_path', 'label_name', 'label_id']

In [5]:
for name, df in dfs.items():
    print(f"▶ {name} info:")
    df.info()
    print()

▶ openImg info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1229351 entries, 0 to 1229350
Data columns (total 4 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   client_id    1229351 non-null  int64
 1   sample_path  1229351 non-null  object
 2   label_name   1229351 non-null  object
 3   label_id     1229351 non-null  int64
dtypes: int64(2), object(2)
memory usage: 37.5+ MB

▶ google_speech info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102851 entries, 0 to 102850
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   client_id    102851 non-null  int64
 1   sample_path  102851 non-null  object
 2   label_name   102851 non-null  object
 3   label_id     102851 non-null  int64
dtypes: int64(2), object(2)
memory usage: 3.1+ MB

▶ femnist info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637877 entries, 0 to 637876
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   client_id    637877 non-null  int64
 1   sample_path  637877 non-null  object
 2   label_name   637877 non-null  object
 3   label_id     637877 non-null  int64
dtypes: int64(2), object(2)
memory usage: 19.5+ MB

▶ reddit info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27704533 entries, 0 to 27704532
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   client_id    int64
 1   sample_path  int64
 2   label_name   int64
 3   label_id     int64
dtypes: int64(4)
memory usage: 845.5 MB

In [6]:
for name, df in dfs.items():
    print(f"▶ {name} — first 10 rows")
    display(df.head(10))

▶ openImg — first 10 rows

   client_id                     sample_path label_name  label_id
0          0  1ea021de60b3cd89___m_09j2d.jpg   _m_09j2d         1
1          0  cae40be4017c90fd___m_09j2d.jpg   _m_09j2d         1
2          0  fd30ab5d0338b876___m_09j2d.jpg   _m_09j2d         1
3          0  5caf08a56dbc5355___m_09j2d.jpg   _m_09j2d         1
4          0  6f52c7b038c24e92___m_09j2d.jpg   _m_09j2d         1
5          0  ed8d62e20306328d___m_09j2d.jpg   _m_09j2d         1
6          0  bdfd0d4b05394a59___m_09j2d.jpg   _m_09j2d         1
7          0  19878e28e9eb55ae___m_09j2d.jpg   _m_09j2d         1
8          0  4bd02f48b419a3ba___m_09j2d.jpg   _m_09j2d         1
9          0  10464792a718e56b___m_09j2d.jpg   _m_09j2d         1

▶ google_speech — first 10 rows

   client_id                   sample_path label_name  label_id
0       1860    five_f297e878_nohash_0.wav       five         5
1       1860    tree_f297e878_nohash_0.wav       tree        13
2       1860  marvin_f297e878_nohash_0.wav     marvin         8
3       1860     dog_f297e878_nohash_0.wav        dog        22
4       1860     off_f297e878_nohash_0.wav        off        26
5       1860      on_f297e878_nohash_0.wav         on        27
6       1860  sheila_f297e878_nohash_0.wav     sheila         2
7       1860   happy_f297e878_nohash_0.wav      happy         7
8       1860      up_f297e878_nohash_1.wav         up         0
9       1860    stop_f297e878_nohash_1.wav       stop        14

▶ femnist — first 10 rows

,client_id,sample_path,label_name,label_id
0,980,data/raw_data/by_write/hsf_0/f0388_26/u0388_26...,44,6
1,980,data/raw_data/by_write/hsf_0/f0388_26/u0388_26...,44,6
2,980,data/raw_data/by_write/hsf_0/f0388_26/u0388_26...,58,38
3,980,data/raw_data/by_write/hsf_0/f0388_26/u0388_26...,4c,40
4,980,data/raw_data/by_write/hsf_0/f0388_26/u0388_26...,53,48
5,980,data/raw_data/by_write/hsf_0/f0388_26/u0388_26...,48,11
6,980,data/raw_data/by_write/hsf_0/f0388_26/u0388_26...,55,7
7,980,data/raw_data/by_write/hsf_0/f0388_26/u0388_26...,4f,2
8,980,data/raw_data/by_write/hsf_0/f0388_26/u0388_26...,49,8
9,980,data/raw_data/by_write/hsf_0/f0388_26/u0388_26...,4a,58

▶ reddit — first 10 rows

   client_id  sample_path  label_name  label_id
0          0            0          -1        -1
1          0            1          -1        -1
2          0            2          -1        -1
3          0            3          -1        -1
4          0            4          -1        -1
5          0            5          -1        -1
6          0            6          -1        -1
7          0            7          -1        -1
8          0            8          -1        -1
9          0            9          -1        -1

In [7]:
for name, df in dfs.items():
    print(f"▶ {name} — describe()")
    display(df.describe(include="all"))

▶ openImg — describe()

           client_id                     sample_path label_name      label_id
count   1.229351e+06                         1229351    1229351  1.229351e+06
unique           NaN                         1229351        595           NaN
top              NaN  1ea021de60b3cd89___m_09j2d.jpg   _m_0dzct           NaN
freq             NaN                               1     148776           NaN
mean    5.063484e+03                             NaN        NaN  3.782155e+01
std     5.642415e+03                             NaN        NaN  6.727309e+01
min     0.000000e+00                             NaN        NaN  0.000000e+00
25%     1.017000e+03                             NaN        NaN  2.000000e+00
50%     2.952000e+03                             NaN        NaN  1.200000e+01
75%     7.260000e+03                             NaN        NaN  4.000000e+01
max     4.247900e+04                             NaN        NaN  5.950000e+02

▶ google_speech — describe()

            client_id                 sample_path label_name       label_id
count   102851.000000                      102851     102851  102851.000000
unique            NaN                      102851         35            NaN
top               NaN  five_f297e878_nohash_0.wav        yes            NaN
freq              NaN                           1       3961            NaN
mean       884.466685                         NaN        NaN      16.039397
std        603.260758                         NaN        NaN      10.162138
min          0.000000                         NaN        NaN       0.000000
25%        370.000000                         NaN        NaN       7.000000
50%        788.000000                         NaN        NaN      15.000000
75%       1333.000000                         NaN        NaN      25.000000
max       2186.000000                         NaN        NaN      34.000000

▶ femnist — describe()

,client_id,sample_path,label_name,label_id
count,637877.000000,637877,637877,637877.000000
unique,NaN,635078,62,NaN
top,NaN,data/raw_data/by_write/hsf_0/f0388_26/u0388_26...,31,NaN
freq,NaN,2,34868,NaN
mean,1563.989291,NaN,NaN,29.117836
std,1057.470160,NaN,NaN,19.683114
min,0.000000,NaN,NaN,0.000000
25%,620.000000,NaN,NaN,11.000000
50%,1416.000000,NaN,NaN,29.000000
75%,2458.000000,NaN,NaN,48.000000
max,3596.000000,NaN,NaN,61.000000

▶ reddit — describe()

          client_id   sample_path  label_name    label_id
count  2.770453e+07  2.770453e+07  27704533.0  27704533.0
mean   2.124351e+05  1.385227e+07        -1.0        -1.0
std    1.229610e+05  7.997610e+06         0.0         0.0
min    0.000000e+00  0.000000e+00        -1.0        -1.0
25%    1.056570e+05  6.926133e+06        -1.0        -1.0
50%    2.124580e+05  1.385227e+07        -1.0        -1.0
75%    3.189240e+05  2.077840e+07        -1.0        -1.0
max    4.256680e+05  2.770453e+07        -1.0        -1.0

In [8]:
for name, df in dfs.items():
    counts = df["client_id"].value_counts().sort_index()
    print(f"▶ {name}: {counts.size:,} unique clients")
    print("  Samples per client (first 10):")
    print(counts.head(10).to_dict())
    print("  Stats:", counts.describe().to_dict(), "\n")

▶ openImg: 11,325 unique clients
  Samples per client (first 10):
{0: 527, 2: 3451, 3: 116, 4: 454, 7: 83, 9: 30, 10: 2812, 11: 58, 12: 263, 14: 130}
  Stats: {'count': 11325.0, 'mean': 108.5519646799117, 'std': 211.63749111743905, 'min': 20.0, '25%': 30.0, '50%': 50.0, '75%': 103.0, 'max': 6709.0}

▶ google_speech: 2,167 unique clients
  Samples per client (first 10):
{0: 100, 1: 116, 2: 30, 3: 30, 4: 30, 5: 122, 6: 112, 7: 116, 8: 105, 9: 20}
  Stats: {'count': 2167.0, 'mean': 47.462390401476696, 'std': 36.79711968344838, 'min': 17.0, '25%': 29.0, '50%': 30.0, '75%': 33.0, 'max': 316.0}

▶ femnist: 2,800 unique clients
  Samples per client (first 10):
{0: 379, 1: 327, 2: 271, 3: 349, 4: 356, 5: 345, 7: 339, 9: 388, 10: 283, 11: 281}
  Stats: {'count': 2800.0, 'mean': 227.81321428571428, 'std': 89.0623886869481, 'min': 19.0, '25%': 166.0, '50%': 179.0, '75%': 308.0, 'max': 465.0}

▶ reddit: 425,669 unique clients
  Samples per client (first 10):
{0: 26, 1: 61, 2: 22, 3: 29, 4: 104, 5: 32, 6: 32, 7: 123, 8: 99, 9: 101}
  Stats: {'count': 425669.0, 'mean': 65.08468551856019, 'std': 65.15400026599396, 'min': 20.0, '25%': 27.0, '50%': 41.0, '75%': 74.0, 'max': 500.0}